{% include "../base.html" with title="Client : List" %}

{% block content %}

<div class="d-flex justify-content-center gap-1 align-items-center gap-4">
    <h1 class="mb-0">Client's list</h1>
    <a href="/client/create/" class="btn btn-primary">Create client</a>
</div>

{% if client_list %}
<ul class="mt-3">
    {% for client in client_list %}
    <li><a href="/client/{{ client.id }}/">Name: {{ client.name }},
            Email:
            {{ client.email }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No clients registered.</p>
{% endif %}

{% endblock %}