{% include "../base.html" with title="Project : Create" %}

{% block content %}

<form action="{% url 'payment_reminder:create_project' %}" method="post"
    class="row flex-column g-3 needs-validation m-auto w-100"
    style="max-width: 500px">

    <div class="d-flex justify-content-between align-items-center">
        <h3>Create project</h3>
        <!-- <a href="/client/" class="btn btn-primary">Back to list</a> -->
    </div>

    {% csrf_token %}

    {% for field in form %}
        {{ field }}
        {% if field.errors %}
            <small class="d-inline-block m-0 text-danger text-sm">
                {{ field.errors.0 }}
            </small>
        {% endif %}
    {% endfor %}

    <div class="col-12 px-0">
        <button class="btn btn-success" type="submit">Create</button>
    </div>
</form>
{% endblock %}